<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BenchmarkAndroidSSC"
        android:extractNativeLibs="true">
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <activity
            android:name=".activity.CpuTestActivity"
            android:exported="false" />
        <activity
            android:name=".activity.IntegralTestActivity"
            android:exported="false" />
        <activity
            android:name=".activity.SystemInfoActivity"
            android:exported="false" />
        <activity
            android:name=".activity.MemoryTestActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity android:name=".graphs.GraphSelectActivity"/>
        <activity android:name=".graphs.CpuGraphActivity"/>
        <activity android:name=".graphs.MemGraphActivity"/>
        <activity android:name=".graphs.GpuGraphActivity"/>
        <activity
            android:name="com.benchmarkandroidscc.app.ui.gpu.GpuTestActivity"
            android:exported="false" />
        <activity android:name=".activity.CompareResultsActivity"
            android:exported="false"
            android:label="Compare Results"/>
        <activity
            android:name=".activity.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.BenchmarkAndroidSSC">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>